Flask==3.0.0
Werkzeug==3.0.1
torch==2.1.0+cpu
torchvision==0.16.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
segmentation-models-pytorch==0.3.3
Pillow==10.1.0
numpy==1.26.2
gunicorn==21.2.0
gdown==5.1.0
